<!-- <link rel="stylesheet" type="text/css" href="app.css" /> -->

<div class="w-full bg-white flex items-center justify-center min-h-[14rem] text-blue-lab">
    <p class="text-white bg-black">Prueba</p>
</div>