<div class="flex justify-center w-full">
    <div id="nosotros" class="flex flex-col items-center w-full py-16 lg:px-6 lg:pt-28 lg:pb-32 max-w-[94rem] lg:flex-row">
        <div class="w-full mb-4 lg:w-2/5 lg:mb-0">
            <img src="./img/nuevas_imagenes/DSCF0255.JPG" alt="Descripción de la imagen" class="object-cover object-center w-full h-64 sm:h-72 md:h-80 lg:h-auto">
        </div>
        <div class="w-full p-4 lg:p-8 lg:w-3/5 text-blue-lab">
            <h2 class="pb-2 text-3xl xl:text-4xl 2xl:text-5xl font-rob-bold"><strong>Nosotros</strong></h2>
            <p class="pb-10 text-xl lg:pb-16 xl:text-2xl font-rob-regular">
                Somos un laboratorio de más de <b class="font-rob-bold">70 años de experiencia.</b><br>
                En Laboratorio Corregidora nuestro propósito es cuidar la salud de
                nuestros pacientes ofreciendo un servicio cálido y de excelencia
            </p>
        </div>
    </div>
</div>




<div class="w-full px-5 py-16 sm:px-8 md:px-12 flex justify-center bg-[#e8e8e8]">
    <div class="max-w-[94rem] gap-x-16 gap-y-16 w-full grid grid-cols-1 lg:grid-cols-3 justify-center items-center">
        <div class="flex flex-col w-full h-auto lg:col-span-2 swiper" style="margin-left: 0%; margin-right: 0%;">
            <div class="swiper-wrapper" style="height: auto;">

                <div class="grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 swiper-slide">
                    <div class="text-xl lg:text-2xl text-blue-lab">
                        <div class="flex gap-1.5 pb-4 lg:pb-10 justify-left">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                        </div>
                        <p class="font-rob-regular">"Muy buena y rápida atención.
                            Son muy profesionales y los resultados muy confiables."</p>
                            <br>
                        <p class="font-rob-bold-italic">Griselda Patricia Reyna Lara</p>
                    </div>
                    <div class="text-xl lg:text-2xl text-blue-lab">
                        <div class="flex gap-1.5 pb-4 lg:pb-10 justify-left">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                        </div>
                        <p class="font-rob-regular">"Muy buena y rápida atención.
                            Son muy profesionales y los resultados muy confiables."</p>
                            <br>
                        <p class="font-rob-bold-italic">Griselda Patricia Reyna Lara</p>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-x-8 gap-y-16 md:grid-cols-2 swiper-slide">
                    <div class="text-xl lg:text-2xl text-blue-lab">
                        <div class="flex gap-1.5 pb-4 lg:pb-10 justify-left">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                        </div>
                        <p class="font-rob-regular">"Muy buena y rápida atención.
                            Son muy profesionales y los resultados muy confiables."</p>
                            <br>
                        <p class="font-rob-bold-italic">Griselda Patricia Reyna Lara</p>
                    </div>
                    <div class="text-xl lg:text-2xl text-blue-lab">
                        <div class="flex gap-1.5 pb-4 lg:pb-10 justify-left">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                            <img src="./img/svg/star.svg" class="w-6">
                        </div>
                        <p class="font-rob-regular">"Muy buena y rápida atención.
                            Son muy profesionales y los resultados muy confiables."</p>
                            <br>
                        <p class="font-rob-bold-italic">Griselda Patricia Reyna Lara</p>
                    </div>
                </div>

            </div>
            <div class="relative pt-8 flex items-center gap-3.5">
                <div id="swiper-button-prev" class="flex items-center justify-center w-8 h-8 border cursor-pointer border-blue-lab-condensed">
                    <img src="./img/svg/back.svg" class="h-1/2">
                </div>
                <div id="swiper-button-next" class="flex items-center justify-center w-8 h-8 border cursor-pointer border-blue-lab-condensed">
                    <img src="./img/svg/next.svg" class="h-1/2">
                </div>
            </div>
        </div>

        <div class="relative flex flex-col items-start w-full text-xl items-left justify-left text-blue-lab">
            <div class="absolute hidden w-0 my-auto border-l -left-8 top-4 bottom-4 lg:block border-blue-lab-condensed"></div>

            <img src="./img/img/prueba_cov.png" alt="Descripción de la imagen" class="w-full max-w-sm">
            <p class="my-4 text-xl text-left lg:text-2xl font-rob-regular">
                Paga aquí tu prueba de COVID-19 y obtén
                <span class="font-rob-bold ">8% DE DESCUENTO</span>
            </p>
            <a href="/citas" class="px-3 py-0.5 text-base text-left text-white bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600 font-rob-bold">
                PAGAR
            </a>
        </div>
    </div>
</div>




<section id="servicios" class="flex flex-col items-center py-16">
    <span class="titulo" style="color:#194271">SERVICIOS</span>

    <div class="grid max-w-[94rem] w-full grid-cols-1 gap-16 p-4 md:grid-cols-3 sm:grid-cols-2">
        <div class="flex flex-col items-center justify-start w-full gap-4">
            <img loading="lazy" src="img/icon-clinic.svg" class="img-servicio" alt="Laboratorio Corregidora" width="auto" height="auto">
            <span class="sub-servicio">Análisis clínicos</span>
            <p class="texto-servicio">
                Estudios de sangre, orina, heces, etc. No requiere programar cita.
            </p>
            <a href="/analisis.php" rel="noopener">
                <div class="boton-serv">VER MÁS</div>
            </a>
        </div>
        <div class="flex flex-col items-center justify-start w-full gap-4">
            <img loading="lazy" src="img/icon-dom.svg" class="img-servicio" width="auto" height="auto">
            <span class="sub-servicio">Toma de muestras a domicilio</span>
            <p class="texto-servicio">
                Llame para programar su cita.
            </p>
        </div>
        <div class="flex flex-col items-center justify-start w-full gap-4">
            <img loading="lazy" src="img/svg/imagenologia.svg" class="img-servicio" width="auto" height="auto">
            <span class="sub-servicio">Imagenología</span>
            <p class="texto-servicio">
                Ultrasonidos, radiografías, estudios contrastados y biopsias.
            </p>
            <div class="boton-serv"><a href="https://imagenologia.laboratoriocorregidora.com.mx/">VER MÁS</a></div>
        </div>
        <div class="flex flex-col items-center justify-start w-full gap-4">
            <img loading="lazy" src="img/svg/icono-covid-info.svg" class="img-servicio" width="auto" height="auto">
            <span class="sub-servicio">Información Covid-19</span>
            <p class="texto-servicio">
                Algoritmo informativo de las diferentes pruebas para Covid-19.
            </p>
            <a class="boton-serv" href="covid.php">VER MÁS</a>
        </div>
        <div class="flex flex-col items-center justify-start w-full gap-4">
            <img loading="lazy" src="img/icon-insti.svg" class="img-servicio" width="auto" height="auto">
            <span class="sub-servicio">Atención a empresas e instituciones</span>
            <p class="texto-servicio">
                Ofrecemos análisis con un costo especial para las empresas.
            </p>
            <a class="boton-serv" href="mailto:lcn75@laboratoriocorregidora.com.mx">Contáctanos</a>
        </div>
        <div class="flex flex-col items-center justify-start w-full gap-4">
            <img loading="lazy" src="img/icon-hema.svg" class="img-servicio" width="auto" height="auto">
            <span class="sub-servicio">Clínica Hematológica</span>
            <p class="texto-servicio">
                Consulta médica con un especialista Hematólogo, llamé para agendar su cita.
            </p>
            <a rel="noopener" class="boton-serv" href="http://clinicahematologica.com/" target="_blank">VER MÁS</a>
        </div>
    </div>
</section>

<div id="preguntas" class="flex flex-col items-center w-full bg-[#f7f7f7] px-5 pt-20 lg:pt-28 pb-0 font-rob-regular">
    <h1 class="text-3xl text-center lg:text-4xl font-rob-bold text-blue-lab">Preguntas frecuentes</h1>

    <div class="grid grid-cols-1 gap-y-5 gap-x-8 pt-16 pb-24 md:grid-cols-2 w-full max-w-[94rem]">
        <div class="flex flex-col w-full overflow-hidden bg-white shadow-lg rounded-3xl">
            <img src="./img/nuevas_imagenes/DSCF0527.JPG" class="object-cover object-center w-full xl:h-80 h-60">
            <h2 class="flex-grow pt-5 pb-4 pl-5 pr-10 text-xl lg:pr-32 lg:text-2xl xl:text-3xl lg:pl-8 xl:pl-16 lg:pt-8 xl:pt-16 text-blue-lab font-rob-medium">
                ¿Cómo debo de venir a la toma
                de muestra en sangre?
            </h2>
            <div class="flex justify-end w-full">
                <button op="1" class="flex items-center justify-center w-32 h-20 transition-all duration-200 ease-in-out cursor-pointer video-button bg-blue-lab-claro hover:pl-6">
                    <img src="./img/svg/rigth.svg" alt="Flecha" class="w-7">
                </button>
            </div>
        </div>

        <div class="flex flex-col w-full overflow-hidden bg-white shadow-lg rounded-3xl">
            <img src="./img/img_index/img2.png" class="object-cover object-center w-full xl:h-80 h-60">
            <h2 class="flex-grow pt-5 pb-4 pl-5 pr-10 text-xl lg:pr-32 lg:text-2xl xl:text-3xl lg:pl-8 xl:pl-16 lg:pt-8 xl:pt-16 text-blue-lab font-rob-medium">
                ¿Cómo recolecto una muestra
                para el exámen general de orina?
            </h2>
            <div class="flex justify-end w-full">
                <button op="2" class="flex items-center justify-center w-32 h-20 transition-all duration-200 ease-in-out cursor-pointer video-button bg-blue-lab-claro hover:pl-6">
                    <img src="./img/svg/rigth.svg" alt="Flecha" class="w-7">
                </button>
            </div>
        </div>
    </div>
</div>




<section id="videos" class="w-full pt-16">
    <video src="./video/video_h.webm" controls class="hidden object-contain max-h-[calc(100vh-6rem)] w-full landscape:block"></video>
    <video src="./video/video_v.webm" controls class="hidden object-contain w-full portrait:block"></video>
</section>




<script src="./coments.js" type="module"></script>
