<!-- <link rel="stylesheet" type="text/css" href="app.css" /> -->

<div class="w-full bg-white flex items-center justify-center min-h-[14rem] text-blue-lab">
    <div class="w-full sm:flex sm:justify-center p-5 sm:items-start max-w-[94rem]">
        <div class="flex items-center w-full gap-4 text-left lg:gap-5 lg:items-start lg:w-1/3">
            <div class="w-[5px] min-w-[5px] h-20 bg-[#007af6]"></div>
            <h2 class="text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-rob-light">
                <span class="font-rob-regular">Reserva en línea tu prueba de covid y</span>
                <span class="font-rob-bold">obtén un 8% de descuento</span>
            </h2>
        </div>
        <!-- <div class="flex items-center w-full gap-4 text-left lg:gap-5 lg:items-start lg:w-1/3">
            <div class="w-[5px] min-w-[5px] h-20 bg-[#007af6]"></div>
            <h2 class="text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
                <span class="font-rob-regular">Paga en línea y </span>
                <span class="font-rob-bold">obtén descuentos exclusivos*</span>
            </h2>
        </div> -->
        <div class="flex items-center w-full gap-4 pt-4 text-left lg:gap-5 lg:pt-0 lg:items-start lg:w-1/3">
            <img src="./img/svg/icono-index-elmarques.svg" alt="Logo" class="w-12 h-12 lg:w-14 lg:h-14 xl:w-16 xl:h-16">
            <h2 class="text-base md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl">
                <span class="font-rob-regular">Pruebas de Covid, sólo
                    en sucursal </span>
                <span class="font-rob-bold">El Marqués</span>
            </h2>
        </div>
    </div>
</div>
