<div class="flex flex-col w-full max-w-[94rem] text-sm text-white md:items-start gap-y-4">
    <a href="/citas" class="flex items-end justify-between gap-5 px-5 py-1 text-sm rounded shadow cursor-pointer lg:items-center lg:text-base xl:text-xl font-rob-bold hover:bg-blue-lab-oscuro bg-blue-lab-claro">
        <span class="text-left">RESERVA TU PRUEBA COVID</span>
        <span>&gt;</span>
    </a>
    <a href="/guardias.php" class="flex items-end justify-between gap-5 px-5 py-1 text-sm rounded shadow cursor-pointer lg:items-center lg:text-base xl:text-xl font-rob-bold bg-blue-lab-oscuro hover:bg-blue-lab-claro">
        <span class="text-left">SERVICIOS DE GUARDIAS</span>
        <span>&gt;</span>
    </a>
    <button op="preguntas" class="flex items-end justify-between gap-5 px-5 py-1 text-sm rounded shadow cursor-pointer menu-el lg:items-center lg:text-base xl:text-xl font-rob-bold bg-blue-lab-oscuro hover:bg-blue-lab-claro">
        <span class="text-left">PREGUNTAS FRECUENTES</span>
        <span>&gt;</span>
    </button>
    <a href="/covid.php" class="flex items-end justify-between gap-5 px-5 py-1 text-sm rounded shadow cursor-pointer lg:items-center lg:text-base xl:text-xl font-rob-bold bg-blue-lab-oscuro hover:bg-blue-lab-claro">
        <span class="text-left">INFORMACIÓN COVID-19</span>
        <span>&gt;</span>
    </a>
    <a href="/contacto.php" class="flex items-end justify-between gap-5 px-5 py-1 text-sm rounded shadow cursor-pointer lg:items-center lg:text-base xl:text-xl font-rob-bold bg-blue-lab-oscuro hover:bg-blue-lab-claro">
        <span class="text-left">FELICITACIONES, QUEJAS Y SUGERENCIAS</span>
        <span>&gt;</span>
    </a>
    <button op="footer" class="flex items-end justify-between gap-5 px-5 py-1 text-sm rounded shadow cursor-pointer menu-el lg:items-center lg:text-base xl:text-xl font-rob-bold hover:bg-blue-lab-oscuro bg-blue-lab-claro">
        <span class="text-left">CONTÁCTANOS</span>
        <span>&gt;</span>
    </button>
</div>