<section id="sucursales" class="flex justify-center w-full py-16 lg:py-24">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-8 w-full px-5 max-w-[94rem] font-rob-regular text-blue-lab">
        <div x-data="{ show: true, open: 0 }" class="w-full col-span-1">
            <div class="flex flex-col items-start gap-6 pb-6 pl-5">
                <h2 class="text-2xl font text-blue-lab font-rob-bold">Encuentra tu Sucursal favorita</h2>

                <button onclick="mapAllItem()" @click="show = !show" class="flex items-center gap-4 px-4 py-2 border border-blue-500 cursor-pointer rounded-xl text-blue-lab-claro">
                    <b class="font-rob-bold lg:text-xl">TODAS LAS SUCURSALES</b>
                </button>
            </div>

            <!-- Listado de dropdowns min-w-[12px] -->
            <div id="dropdowns-list" class="flex flex-col items-start w-full gap-2"></div>
            <div id="dropdowns-list-no" class="flex-col items-start hidden w-full gap-2">
                <div>
                    <button onclick="mapItem(1)" class="flex items-center gap-2">
                        <div class="w-3 min-w-[12px] h-3">
                            <img src="./img/svg/opened.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <div class="w-3 min-w-[12px] h-3" style="display: none;">
                            <img src="./img/svg/closed.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <span class="text-base text-left lg:text-xl font-rob-bold">Laboratorio Central (El Marqués)</span>
                    </button>

                    <div class="flex flex-col w-full gap-4 pt-1.5 pb-6 pl-5">
                        <p>
                            Avenida Prolongación Constituyentes No. 32 Oriente, Colonia Villas del Marqués del Águila C.P. 76240 Altos del Marques, El Marqués, Querétaro.
                        </p>

                        <span class="flex flex-col">
                            <span class="inline-flex items-center gap-1">
                                <img src="./img/svg/clock.svg" alt="clock" class="object-contain object-center w-4 h-4">
                                <span class="font-rob-bold">Horario:</span>
                            </span>
                            <span>
                                Lunes a Viernes de 7:00 hrs. a 19:30 hrs.<br>
                                Sábados de 7:00 hrs. a 13:30 hrs
                            </span>
                        </span>

                    </div>
                </div>
                <div>
                    <button class="flex items-center gap-2">
                        <div class="w-3 h-3" style="display: none;">
                            <img src="./img/svg/opened.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <div class="w-3 h-3">
                            <img src="./img/svg/closed.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <span class="text-base text-left lg:text-xl font-rob-bold">Centro Histórico</span>
                    </button>

                    <div class="flex flex-col w-full gap-4 pt-1.5 pb-6 pl-5" style="display: none;">
                        <p>
                            Avenida Prolongación Constituyentes No. 32 Oriente, Colonia Villas del Marqués del Águila C.P. 76240 Altos del Marques, El Marqués, Querétaro.
                        </p>

                        <span class="flex flex-col">
                            <span class="inline-flex items-center gap-1">
                                <img src="./img/svg/clock.svg" alt="clock" class="object-contain object-center w-4 h-4">
                                <span class="font-rob-bold">Horario:</span>
                            </span>
                            <span>
                                Lunes a Viernes de 7:00 hrs. a 19:30 hrs.<br>
                                Sábados de 7:00 hrs. a 13:30 hrs
                            </span>
                        </span>

                    </div>
                </div>
                <div>
                    <button class="flex items-center gap-2">
                        <div class="w-3 h-3" style="display: none;">
                            <img src="./img/svg/opened.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <div class="w-3 h-3" x-show="!(open == 3)">
                            <img src="./img/svg/closed.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <span class="text-base text-left lg:text-xl font-rob-bold">Jurica</span>
                    </button>

                    <div class="flex flex-col w-full gap-4 pt-1.5 pb-6 pl-5" style="display: none;">
                        <p>
                            Avenida Prolongación Constituyentes No. 32 Oriente, Colonia Villas del Marqués del Águila C.P. 76240 Altos del Marques, El Marqués, Querétaro.
                        </p>

                        <span class="flex flex-col">
                            <span class="inline-flex items-center gap-1">
                                <img src="./img/svg/clock.svg" alt="clock" class="object-contain object-center w-4 h-4">
                                <span class="font-rob-bold">Horario:</span>
                            </span>
                            <span>
                                Lunes a Viernes de 7:00 hrs. a 19:30 hrs.<br>
                                Sábados de 7:00 hrs. a 13:30 hrs
                            </span>
                        </span>

                    </div>
                </div>
                <div>
                    <button class="flex items-center gap-2">
                        <div class="w-3 h-3" style="display: none;">
                            <img src="./img/svg/opened.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <div class="w-3 h-3" x-show="!(open == 4)">
                            <img src="./img/svg/closed.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <span class="text-base text-left lg:text-xl font-rob-bold">Juriquilla</span>
                    </button>

                    <div class="flex flex-col w-full gap-4 pt-1.5 pb-6 pl-5" style="display: none;">
                        <p>
                            Avenida Prolongación Constituyentes No. 32 Oriente, Colonia Villas del Marqués del Águila C.P. 76240 Altos del Marques, El Marqués, Querétaro.
                        </p>

                        <span class="flex flex-col">
                            <span class="inline-flex items-center gap-1">
                                <img src="./img/svg/clock.svg" alt="clock" class="object-contain object-center w-4 h-4">
                                <span class="font-rob-bold">Horario:</span>
                            </span>
                            <span>
                                Lunes a Viernes de 7:00 hrs. a 19:30 hrs.<br>
                                Sábados de 7:00 hrs. a 13:30 hrs
                            </span>
                        </span>

                    </div>
                </div>
                <div>
                    <button class="flex items-center gap-2">
                        <div class="w-3 h-3" style="display: none;">
                            <img src="./img/svg/opened.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <div class="w-3 h-3" x-show="!(open == 5)">
                            <img src="./img/svg/closed.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <span class="text-base text-left lg:text-xl font-rob-bold">Tecnológico</span>
                    </button>

                    <div class="flex flex-col w-full gap-4 pt-1.5 pb-6 pl-5" style="display: none;">
                        <p>
                            Avenida Prolongación Constituyentes No. 32 Oriente, Colonia Villas del Marqués del Águila C.P. 76240 Altos del Marques, El Marqués, Querétaro.
                        </p>

                        <span class="flex flex-col">
                            <span class="inline-flex items-center gap-1">
                                <img src="./img/svg/clock.svg" alt="clock" class="object-contain object-center w-4 h-4">
                                <span class="font-rob-bold">Horario:</span>
                            </span>
                            <span>
                                Lunes a Viernes de 7:00 hrs. a 19:30 hrs.<br>
                                Sábados de 7:00 hrs. a 13:30 hrs
                            </span>
                        </span>

                    </div>
                </div>
                <div>
                    <button class="flex items-center gap-2">
                        <div class="w-3 h-3" style="display: none;">
                            <img src="./img/svg/opened.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <div class="w-3 h-3" x-show="!(open == 6)">
                            <img src="./img/svg/closed.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <span class="text-base text-left lg:text-xl font-rob-bold">Pueblo Nuevo</span>
                    </button>

                    <div class="flex flex-col w-full gap-4 pt-1.5 pb-6 pl-5" style="display: none;">
                        <p>
                            Avenida Prolongación Constituyentes No. 32 Oriente, Colonia Villas del Marqués del Águila C.P. 76240 Altos del Marques, El Marqués, Querétaro.
                        </p>

                        <span class="flex flex-col">
                            <span class="inline-flex items-center gap-1">
                                <img src="./img/svg/clock.svg" alt="clock" class="object-contain object-center w-4 h-4">
                                <span class="font-rob-bold">Horario:</span>
                            </span>
                            <span>
                                Lunes a Viernes de 7:00 hrs. a 19:30 hrs.<br>
                                Sábados de 7:00 hrs. a 13:30 hrs
                            </span>
                        </span>

                    </div>
                </div>
                <div>
                    <button class="flex items-center gap-2">
                        <div class="w-3 h-3" style="display: none;">
                            <img src="./img/svg/opened.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <div class="w-3 h-3" x-show="!(open == 7)">
                            <img src="./img/svg/closed.svg" class="object-contain object-center w-full h-full">
                        </div>
                        <span class="text-base text-left lg:text-xl font-rob-bold">Milenio III</span>
                    </button>

                    <div class="flex flex-col w-full gap-4 pt-1.5 pb-6 pl-5" style="display: none;">
                        <p>
                            Avenida Prolongación Constituyentes No. 32 Oriente, Colonia Villas del Marqués del Águila C.P. 76240 Altos del Marques, El Marqués, Querétaro.
                        </p>

                        <span class="flex flex-col">
                            <span class="inline-flex items-center gap-1">
                                <img src="./img/svg/clock.svg" alt="clock" class="object-contain object-center w-4 h-4">
                                <span class="font-rob-bold">Horario:</span>
                            </span>
                            <span>
                                Lunes a Viernes de 7:00 hrs. a 19:30 hrs.<br>
                                Sábados de 7:00 hrs. a 13:30 hrs
                            </span>
                        </span>

                    </div>
                </div>
            </div>
        </div>

        <div class="w-full col-span-1 lg:col-span-2 h-96 md:h-[40rem]">
            <div id="map" class="w-full h-full"></div>
        </div>
    </div>
</section>

<!-- <script src="./map.js" type="module"></script> -->
