* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(fonts/Montserrat-Black.ttf);
  font-family: m-black;
  font-display: swap;
}

@font-face {
  src: url(fonts/Montserrat-Bold.ttf);
  font-family: m-bold;
  font-display: swap;
}

@font-face {
  src: url(fonts/Montserrat-ExtraBold.ttf);
  font-family: m-extrabold;
  font-display: swap;
}

@font-face {
  src: url(fonts/Montserrat-Medium.ttf);
  font-family: m-medium;
  font-display: swap;
}

@font-face {
  src: url(fonts/Montserrat-Regular.ttf);
  font-family: m-regular;
  font-display: swap;
}

@font-face {
  src: url(fonts/Montserrat-SemiBold.ttf);
  font-family: m-semibold;
  font-display: swap;
}

/*** nuevo **/

.no_link_body{
  text-decoration: none;
  color: #4d4d4d;
}

.cont_tel_cuadro_azul{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

  .cont_tel_cuadro_azul_int{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cont_tel_cuadro_azul_int_num{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.correo_txt{
  font-size: 14px!important;
}

.no_link{
  font-family: m-regular;
  text-decoration: none;
  color: white;
}

.subrayado{
  border-bottom: solid 3px #194271;
}

.p_r{
  padding-right: 10px;
}

.slider-contender{
  background-image: url(img/home_slide/micro.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.no_padding{
  padding: 0!important;
}

#home_resultado_covid{
  position: relative;
  width: 100%;
  /* height: 50vh; */
  height: auto;
  padding-top: 100px;
}

.cont_imagen_fondo_covid{
  position: relative;
  width: 100%;
  /* height: 100%; */
  height: 50vh;
  min-height: 300px;
  background-image: url(img/covid.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.cont_msj_covid{
  position: absolute;
  width: 30%;
  height: 50%;
  top: 25%;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt_msj_covid{
  color: white;
}

.leve{
  font-family: m-medium;
  font-size: 40px;
}

.fuerte{
  font-family: m-extrabold;
  font-size: 50px;
}

.cont-opciones-resultados-covid{
  position: relative;
  width: 100%;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt_lab-covid{
  font-size: 24px;
  color: #194271;
  font-family: m-medium;
  text-align: center;
}

.cont_covid_pruebas{
  width: 100%;
  /* height: 70vh; */
  /* height: 60vh; */
  /* min-height: 450px; */
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 150px;
}

.cont_covid_int_pruebas{
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}

.img_tipo{
  width: 30%;
}

.parrafo_tipo{
  font-size: 16px;
  color: #4d4d4d;
  font-family: m-medium;
  text-align: center;
  width: 90%;
  line-height: 25px;
  padding-top: 20px;

  height: 300px;
min-height: 200px;
}

.cont-menu-interno-covid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-covid{
  position: relative!important;
}

.menu_active{
  font-family: m-black!important;
}

.menu_active span{
  border-bottom: solid 3px #007AF6;
}

.menu_activo_desktop{
  font-family: m-black!important;
  transition: 0.8s;
  cursor: pointer;
}

/** end nuevo **/

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100px;
  text-align: right;
  position: fixed;
  z-index: 99;
  top: 0;
  transition: 0.5s;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menuMovil {
  display: none;
}

#menu{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont_opciones_ext{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 55%;
}

  .opcion_ext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    font-size: 12px;
    color: #194271;
    font-family: m-semibold;
    width: auto;
    border-left: solid 1px #ccc;
    padding: 0 20px;
    text-align: left;
  }

  .cont_opciones_ext .opcion_ext:nth-child(1){
    border: none;
  }

    .cont_opciones_ext .opcion_ext:nth-child(1) img{
      padding-left: 5px;
    }

    .cont_opciones_ext .opcion_ext:nth-child(1) a{
      padding-left: 10px;
    }

    .img_menu{
      width: 30px;
    }

  .cont_opciones_ext .opcion_ext:nth-child(2){
    width: 130px;
  }

    .cont_telefonos_menu{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .no_link_menu{
      text-decoration: none;
      color: #194271;
    }

    .img_pdf{
      height: 60%;
    }

    .img_tel{
      padding-right: 5px;
    }

/*#boton-res{
  width:13%;
  height: 100px;
  display: inline-block;
  background: #007AF6;
  font-family: m-bold;
  color:#FFF;
  position:relative;
  font-size: 1.2em;
  cursor:pointer;
}*/

#boton-res{
  width:20%;
  height: 100px;
  display: flex;
  background: #007AF6;
  font-family: m-bold;
  color:#FFF;
  position:relative;
  font-size: 12px;
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

  #boton-res:hover .inter-res{
    transform: scale(1.01);
  }

.logo_menu{
  padding-right: 5%!important;
}

.menu-serv{

}

.menu-preg{
  width: 260px;
}

.menu-suc{
  width: 140px;
}

.menu-cont{
  width: 110px;
}

.menu-gua{
  width: 110px;
}

.menu-tel{
  width:115px;
}

.menu-fac, .menu-wha, .menu-tel-sub{
  float: right!important;
}

.inter-res{
  text-align: left;
  width:75%;
  height: 50px;
  transition: .5s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-contender {

}

.menu-nav {
  list-style: none;
  padding: 0;
  position: relative;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav li {
  color: #194271;
  font-family: m-semibold;
  cursor: pointer;
  font-size: 12px;
  width: auto;
  height:70px;
  padding: 0 10px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu-nav li img:hover{
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
}

.menu-nav li span:hover{
  font-family: m-black;
  transition: 0.5s;
  cursor: pointer;
}

.menu-nav li a{
  text-decoration: none;
  color: #194271;
}

.menu-nav li a:hover{
  font-family: m-bold;
  transition: 0.5s;
  cursor: pointer;
}

.border-nav {
  border-right: 2px solid #194271;
}

.logo-head{
  padding-left: 30px;
  height: 55px;
  display: inline-block;
}

.icon-li{
  height:35px;
}

/*HOME*/
#home{
  width:100%;
  height: 140vh;
  margin-top: 100px;
  position:relative;
  padding-bottom: 20vh
}

.slider-contender{
  width:100%;
  height: 90vh;
  /*background: #85BAE5;*/
  display: inline-block;
}

.slick-list{
  height: 100%;
}

.icon-mex{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 3;
  transition: 0.5s;
}

.experiencia{
  width: 40%;
  height: auto;
  position: absolute;
  left: 7%;
  top: 13%;
  z-index: 4;
  line-height: 0.9;
}

.anio{
  font-family: m-black;
  font-size: 180px;
  color: #194271;
}

.anio-t{
  font-family: m-black;
  font-size: 80px;
  color: #194271;
}

.anio-exp{
  font-family: m-bold;
  font-size: 40px;
  color: #194271;
  letter-spacing: 10px;
}

.icon-usa{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 3;
  transition: 0.5s;
}

.icon-usa:hover, .icon-mex:hover{
  transform: scale(1.1);
  cursor:pointer;
}

.slide{
  width:100%;
  height: 100vh;
  display:inline-block;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.tabla-datos-contender{
  width: 70%;
  /*height: 50vh;*/
  position:absolute;
  display:inline-block;
  left:0;
  right:0;
  top:80vh;
  margin: auto;
  z-index: 2;
}

.tabla-datos{
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.tabla-datos td{
  padding: 1% 2%;
}

.nosotros{
  width: 56%;
  background: #F2F2F2;
}

.contacto{
  width:26%;
  background: #007AF6;
}

.resultados{
  width: 26%;
  background: #194271;
}

.nuevas{
  width: 36%;
  height: 50vh;
  background: rgba(0,122,246,0.8);
}

.titulo{
  font-family: m-extrabold;
  font-size: 26px;
}

.texto{
  font-family: m-regular;
  font-size: 20px;
}

.texto-light{
  font-family: m-regular;
  font-size: 18px;
}

.boton-ver{
  width:auto;
  padding: 15px 30px;
  font-family: m-bold;
  color: #194271;
  background: #FFF;
  display: inline-block;
  cursor:pointer;
  transition: 0.5s;
  border: 2px solid #FFF;
}

.boton-ver:hover{
  background: transparent;
  color: #FFF;
}

/*SERVICIOS*/
#servicios{
  width:100%;
  height: auto;
  /*padding: 15vh 0vh;*/
  text-align: center;
  padding-bottom: 15vh;
}

.div-servicio{
  width:26%;
  padding: 2%;
  height: 45vh;
  display: inline-block;
}

.img-servicio{
  height: 20vh;
}

.sub-servicio{
  font-family: m-medium;
  font-size: 28px;
  color: #194271;
}

.texto-servicio{
  font-family: m-medium;
  font-size: 16px;
  color: #4D4D4D;
}

.boton-serv{
  display:inline-block;
  width: auto;
  padding: 10px 15px;
  background: #007AF6;
  color: #FFF;
  font-family: m-bold;
  font-size: 16px;
  border: 2px solid #007AF6;
  transition: 0.5s;
}

.boton-serv:hover{
  background: transparent;
  color: #007AF6;
  cursor: pointer;
}

/*PREGUNTAS*/
#preguntas{
  width:100%;
  padding: 0vh 0;
  text-align: center;
}

.noventa{
  width:90%;
  display: inline-block;
}

.left-preg, .right-preg{
  display:inline-block;
  width:45%;
  padding: 1% 2%;
  color: #194271;
}

.left-preg{
  text-align:left;
  font-family: m-bold;
}

.right-preg{
  text-align:right;
  font-family: m-semibold;
}

.vid-preg{
  width:40%;
  min-height: 45vh;
  margin: 1%;
  display:inline-block;
  position:relative;
  overflow: hidden;
  cursor: pointer;
}

.img-preg{
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

.div-sub-preg{
  width:96%;
  padding: 2%;
  background: #194271;
  color: #FFF;
  font-family: m-medium;
  display: inline-block;
  position:absolute;
  bottom:0;
  left:0;
  font-size: 16px;
  text-align: left;
  z-index: 2;
}

.vid-icon{
  width: 25%;
  display:inline-block;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  transition: 0.5s;
  opacity: 0;
  z-index: 2;
}

.vid-preg:hover > .vid-icon{
  opacity: 1;
}

/*VIDEO*/
#video{
  width:100%;
  height: 160vh;
  margin-top: 100px;
  position:relative;
}
.video{
  width:100%;
  height: 90vh;
}
.mapa-contender{
  width: 90%;
  height: 65vh;
  position:absolute;
  display:table;
  left:5%;
  top:80vh;
  z-index: 2;
}

.mapa{
  width:65%;
  height: 100%;
  background: #FFF;
  display:table-cell;
}

.imapa{
  width:100%;
  height: 100%;
}

.datos-mapa{
  width: 31%;
  height: 96%;
  padding: 2%;
  background: #194271;
  display:table-cell;
  color: #FFF;
  font-family: m-regular;
  font-size: 18px;
  vertical-align: top;
}

.datos-suc{
  font-family: m-medium;
  font-size: 14px;
  color: #FFF;
  width:100%;
  display: inline-block;
}

.div-footer{
  width: 92%;
  padding: 1% 4%;
  background: #194271;
  color: #FFF;
  display: table;
  font-size: 14px !important;
}

.footer-cell{
  display: table-cell;
  width: 36%;
  font-family: m-regular;
}

.sl{
  height: 100vh!important;
}

.sl-1{
  /*background-image: url(img/home_slide/34.jpg);*/
  background-image: url(img/home_slide/slide1b.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}

.sl-2{
  background-image: url(img/home_slide/covid_slider2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.sl-2-mov{
  background-image: url(img/home_slide/covid_slider2_mov.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.sl-3{
  background-image: url(img/home_slide/12.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.anuncio_img {
    position: absolute;
    width: 30%;
    top: 0%;
    left: 0%;
    opacity: 0.9;
}

#home_resultado_guardias{
  position: relative;
  width: 100%;
  height: 100%;
  height: calc(100vh - 80px);
  padding-top: 80px;
}

.cont_azul{
  /*top: 25%;*/
  top: 20%;
  right: 5%;
  position: absolute;
  /*width: 35%;*/
  /*height: 48%;*/
  width: auto;
  height: auto;
  background-color: rgba(0,122,246,.9);
  padding: 40px;
}

.min{
  color: white;
  font-family: m-medium;
  font-size: 3em;
}

.large{
  color: white;
  font-family: m-black;
  font-size: 5em;
  line-height: 0.2;
}

.semi{
  color: white;
  font-family: m-bold;
  font-size: 2em;
}

.nom{
  color: white;
  font-family: m-medium;
  font-size: 1.2em;
  line-height: 2;
}

  .nom a, .link-a{
    color: white!important;
  }


/* nuevo */

.cont_imagen_fondo{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/home_slide/17.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.cont_imagen_fondo_guardias{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(img/home_slide/25.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#home_resultado{
  position: absolute;
  width: 100%;
  /*height: 150%;*/
  /*height: calc(100vh - 80px);*/
  padding-top: 80px;
}

.footer-resultados{
  position: fixed;
  bottom: 0;
}

.cont-opciones-resultados{
  position: relative;
  top: 35vh;
  width: 100%;
  /*height: 300px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-menu-interno{
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-resultados-cuadro{
  width: 35vh;
  height: 35vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.borde-opcion{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 4px transparent;
  transition: 1s all;
}

  .menu-resultados-cuadro:hover .borde-opcion{
    border: solid 4px #007AF6;
  }

.icono-menu-cuadro{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-menu-cuadro{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .titulo-menu-cuadro p{
    text-align: center;
    font-family: m-medium;
    color: #194271;
    font-size: 1.3em;
  }

.icono-svg{
  width: 40%;
}

.link-resultados{
  text-decoration: none;
  margin: 10px;
}

.guardias{
  width: 400px;
  height: auto;
  background-color: #F2F2F2;
  position: absolute;
  left: 7%;
  top: 12%;
  z-index: 4;
  line-height: 0.9;
  padding: 40px;
}

.title{
  font-family: m-extrabold;
  font-size: 24px;
  color: #194271;
}

.texto{
  font-family: m-regular;
  font-size: 20px;
  color: #194271;
  line-height: 1.5;
}

.oculto{
  opacity: 0;
}

.opc-menu-map-0, .opc-menu-map-1, .opc-menu-map-2, .opc-menu-map-3, .opc-menu-map-4, .opc-menu-map-5, .opc-menu-map-6{
  cursor: pointer;
  position: relative;
}

.opc-menu-map-0::before, .opc-menu-map-1::before, .opc-menu-map-2::before, .opc-menu-map-3::before, .opc-menu-map-4::before, .opc-menu-map-5::before, .opc-menu-map-6::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 100%;
    height: 2px;
    background: white;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: 1;
}

.opc-menu-map-0:hover::before, .opc-menu-map-1:hover::before, .opc-menu-map-2:hover::before, .opc-menu-map-3:hover::before, .opc-menu-map-4:hover::before, .opc-menu-map-5:hover::before, .opc-menu-map-6:hover::before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(8,8,8,.9);
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-visible{
  display: none;
}

.close-modal{
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}

  .close-modal .izq, .close-modal .der{
    width: 50px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
  }

  .izq{
    margin-top: 20px;
    margin-left: 0px;
    transform: rotateZ(135deg);
  }

  .der{
    margin-top: 20px;
    margin-right: 0px;
    transform: rotateZ(45deg);
  }

#video-youtube{
  width: 70%;
  height: 70vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.sucursales-boton{
  cursor: pointer;
}
.a-white{
  color: white;
}

/*** nuevo  ***/



/*** end nuevo ***/

.btn-res{
  cursor: pointer;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.sl-mov{
  height: 70vh!important;
}

.experiencia-mov{
  width: 40%;
  height: auto;
  position: absolute;
  left: 7%;
  top: 25%;
  z-index: 4;
  line-height: 0.9;
}

.nosotros{
  /*top: 28vh;*/
}

.guardias-mov{
  width: 70%;
  height: auto;
  background-color: #F2F2F2;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 4;
  line-height: 0.9;
  padding: 10%;
}

a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

#home-mov, #serv-mov, #preg-mov, #vid-mov , #menu-movil , .footer-mov, .menu-bar{
  display:none;
}

.menu-res{
  font-size: 18px;
  display: inline-block;
  padding: 15px 10px;
  color: #194271;
  font-family: m-bold;
  cursor: pointer;
  border: solid 2px #007AF6;
  border-radius: 50px;
  width: 65%;
}

.img-video{
  width:100%;
  height: 100%;
}

.experiencia_img{
  position: absolute;
  width: 25%;
  top: 10%;
  left: 10%;
}

/* @media(max-width:1850px){
  .cont_covid_pruebas{
    padding-bottom: 50px;
  }
} */

@media(max-width:1550px){
  .cont_covid_pruebas{
    padding-bottom: 150px;
  }
}

@media(max-width:1440px){
  header {
    width:99%;
    padding-left: 1%;
  }
  #menu{
    width: 100%;
  }
  .img_pdf {
    height: 30%;
  }
  #boton-res{
    width:18%;
    font-size: 10px;
  }
  .inter-res{
    width: 90%;
    height: 40px;
  }
  .logo-head{
    height: 45px;
  }
  .menu-nav li {
    font-size: 12px;
  }
  .icon-li{
    height:30px;
  }
  .texto{
    font-size: 18px;
  }
  .texto-light{
    font-size: 16px;
  }
  .logo-mov-g {
    width: 30%;
  }
  .menu-serv{
    width:80px;
  }

  .menu-preg{
    width: 200px;
  }

  .menu-suc{
    width: 100px;
  }

  .menu-cont{
    width: 90px;
  }

  .menu-tel{
    width:95px;
  }

  .sl-1{
    background-position: right;
  }

  .opcion_ext{
    font-size: 10px;
  }

  .cont_covid_pruebas{
    padding-bottom: 150px;
  }

}

@media(max-width:1370px){
  .cont_azul {
    width: 42%;
    height: 52%;
  }
  #menu{
    width:100%;
  }
  #boton-res{
    width:11%;
    font-size: 12px;
  }
  .inter-res{
    width:85%;
    height: 35px;
  }
  .menu-nav li {
    font-size: 11px;
    padding: 0 10px;
  }
  .logo-head{
    height: 40px;
  }
  .titulo {
    font-size: 20px;
  }
  .texto{
    font-size: 16px;
  }
  .texto-light {
    font-size: 14px;
  }
  .img-servicio {
    height: 15vh;
  }
  .sub-servicio {
    font-size: 24px;
  }
  .texto-servicio {
    font-size: 14px;
  }
  .vid-preg {
    min-height: 50vh;
  }
  .datos-mapa {
    font-size: 16px;
  }
  #video {
    /*height: 195vh;*/
    height: 165vh;
  }
  .menu-serv{
    width:70px;
  }

  .menu-preg{
    width: 170px;
  }

  .menu-suc{
    width: 80px;
  }

  .menu-cont{
    width: 70px;
  }

  .menu-tel{
    width:85px;
  }

  .div-sub-preg{
    font-size: 14px;
  }

   .sl-1{
    background-position: right;
  }

  .opcion_ext{
    font-size: 11px;
  }

  .no_link{
    font-size: 11px;
  }

  .texto-light {
    font-size: 11px!important;
  }

  #boton-res{
    width: 18%;
    font-size: 9px;
  }
  .img_pdf {
    height: 40%;
  }

  .img_menu{
    width: 20px;
  }

  header{
      width: 100%;
      padding-left: 0%;
  }

  .logo-head{
    height: 30px;
  }

  .cont_opciones_ext{
    width: 60%;
  }

  .cont_opciones_ext .opcion_ext:nth-child(2) {
    width: 100px;
  }

  .parrafo_tipo{
    font-size: 14px;
  }

  .cont_covid_pruebas{
    padding-bottom: 150px;
  }

}

@media (max-width:1100px){

  #video{
    /*height: */
  }

  .div-sub-preg{
    font-size: 14px;
  }

  .sl-1{
    background-position: 20%;
  }

  .parrafo_tipo{
    font-size: 14px;
  }

  .cont_covid_pruebas{
    padding-bottom: 150px;
  }

}

@media (max-width:980px){
  #home, #servicios, #preguntas, #video, header, .div-footer{
    display: none;
  }
  /*MENU MOVIL*/
  #menuMovil{
    display:block;
  }
  .menu-bar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 998;
    display: block;
  }
  .container {
    display: block;
    cursor: pointer;
    width:30px;
    height: auto;
    position:fixed;
    top:20px;
    right:20px;
    text-align: center;
    z-index: 100001;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #194271;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 3px) ;
    transform: rotate(-45deg) translate(-5px, 3px);
  }

  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px) ;
    transform: rotate(45deg) translate(-7px, -7px) ;
  }

  #contenidoMenu{
    height:0;
    width:100%;
    position: fixed;
    z-index: 10;
    background: #FFF;
    text-align: center;
    z-index: 99;
    color: #194271;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-conten{
    width:auto;
    padding: 30px;
    margin-top: 50px;
    display:inline-block;
  }

  .menu-el, .menu-gua{
    font-family: m-semibold;
    font-size: 20px;
    color:#194271;
    margin-bottom: 15px;
    cursor:pointer;
  }

  .menu-el:hover{
    font-size: 21px;
    padding-bottom: 8px;
    border-bottom: 3px solid #192471;
    transition: 0.2s;
  }

  .logo-mov-g{
    display:block;
    position:absolute;
    top:15px;
    left:15px;
    margin:auto;
    width:32%;
    z-index:10000;
    position:fixed;
    transition: 0.5s;
    cursor: pointer;
  }

  /*HOME-MOV*/
  #home-mov{
    width:100%;
    text-align: center;
    margin-top: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:relative;
  }

  .experiencia{
    width:40%;
    top: 5%;
  }

  .anio{
    font-size: 100px
  }

  .anio-t{
    font-size: 45px;
  }

  .anio-exp{
    font-size: 16px;
    letter-spacing: 0px;
  }

  .slide{
    height: 40vh!important;
  }

  .nosotros{
    /*display: inline-block;*/
    width: 80%;
    padding: 4%;
    margin-top: -40px;
    z-index:4;
    position: relative;
    text-align: left;
    margin-bottom: 20px;
  }

  .contacto, .resultados, .nuevas{
    width: 80%;
    padding: 4%;
    /*display: inline-block;*/
    text-align: left;
    margin-bottom: 20px;
    height: auto;
  }

  .texto {
    font-size: 14px;
  }

  .texto-light{
    font-size: 12px;
  }

  .boton-ver {
    font-size: 12px;
  }

  #serv-mov, #preg-mov{
    width:100%;
    position: relative;
    display: block;
    text-align: center;
    /*margin-bottom: 50px;*/
  }

  .cont_sucursales_mov{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .opc-menu-map, .lh-2{
    line-height: 2;
  }
  .a-blue{
    color: #194271!important;
  }

  .bold-font{
    font-family: m-bold;
  }

  .cont_footer_mov{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2.5;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  }

  #serv-mov{
    height: 70%;
  }

  #preg-mov{
    background: #194271;
  }

  .img-servicio{
    display: inline-block !important;
  }

  .slide-preg{
    background: #194271;
    height: 70vh;
    position:relative;
  }

  .slide-serv{
    background: #FFF;
  }

  #slide-serv{
    height: 100%
  }

  .noventa{
    width:75%;
    padding: 2% 0;
  }

  .slick-prev, .slick-next, .next, .prev {
    width:35px !important;
    height: 45px !important;
  }

  .sub-servicio {
    font-size: 20px;
  }
  .texto-servicio {
    font-size: 12px;
  }
  .boton-serv{
    font-size: 14px;
  }

  .vid-preg-mov{
    margin-top: 50px;
    border: 1px solid #FFF;
    border-radius: 200px;
    display:inline-block;
    width:250px;
    height: 250px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position:relative;
  }

  .vid-preg-mov:hover > .vid-icon{
    opacity: 1;
    cursor:pointer;
  }

  .text-preg{
    font-size: 16px;
    font-family: m-medium;
    color: #FFF;
  }

  /*VIDEO*/
  #vid-mov{
    display:block;
    width: 100%;
    text-align: center;
    background: #E6E6E6;
  }

  .mapa {
    display:inline-block;
    width:100%;
    height: 40vh;
  }

  .datos-mapa{
    width:80%;
    padding: 5%;
    position: relative;
    z-index: 4;
    margin-top: -25px;
    text-align: center;
    display: inline-block;
    color: #4D4D4D;
    background: #FFF;
    margin-bottom: 50px;
  }
  .datos-mapa span{
    color: #4D4D4D;
    font-family: m-regular;
    font-size: 12px;
  }
  .datos-suc{
    color: #4D4D4D;
    font-size: 10px;
  }
  .footer-mov{

    display: block;
    width: 92%;
    padding: 2% 4%;
    background: #194271;
    color: #FFF;
    /*margin-top: 25px;*/
    font-family: m-regular;
    font-size: 12px;
    text-align: center;
  }
  .icon-li {
    height: 40px;
    margin:7px;
  }

  #home_resultado_guardias{
    height: 100%;
  }


  .cont_azul{
    top: 10%;
    left: 5%;
    position: absolute;
    width: 68%;
    height: 55%;
    background-color: rgba(0,122,246,.9);
    padding: 40px;
  }

  .min, .semi{
    font-size: 1em;
  }

  .large{
    font-size: 2em
  }

  .nom{
    font-size: 0.9em;
    line-height: 1.5;
  }

  .guardias-mov {
    padding: 5%;
  }

  .guardias-mov {
    width: 80%;
    top: 20%;
  }

  .cont_azul_2{
    top: 15%!important;
    height: 35%!important;
  }

  .slider-contender{
    height: 70vh!important;
  }

  .close-modal {
    top: 12%;
  }

  #video-youtube {
    width: 90%;
    height: 30%;
  }

  .a-white{
    color: #194271;
    font-family: m-bold;
  }

  .activo-menu-mapa-mov{
    color: #194271;
    border-bottom: solid 1px;
    border-color: #194271!important;
  }

  .vid-icon{
    opacity: 1;
    animation: animacion 1.5s infinite;
  }

  @keyframes animacion{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }

  .experiencia_img{
    position: absolute;
    width: 40%;
    top: 25%;
    left: 10%;
  }

  #home_resultado {
    height: 30%;
  }

  .cont-menu-interno {
    /*padding-bottom: 40vh;*/
  }

  .div-sub-preg{
    font-size: 14px;
  }

  .cont-opciones-resultados{
    /*padding-bottom: 40vh;*/
  }

  .footer-mov-resultados{
    margin-top: 40vh;
  }

  .slider-contender{
    background: #194271;
  }

  .anuncio_img {
      position: absolute;
      width: 80%;
      top: 5%;
      left: 10%;
  }

  .cont_msj_covid{
    width: 90%;
  }

  .txt_lab-covid{
    font-size: 18px;
  }

  .cont_covid_pruebas{
    flex-direction: column;
    height: 130vh;
    padding-top: 5vh;
  }

  .cont_covid_int_pruebas{
    width: 100%;
  }

  .parrafo_tipo{
    font-size: 11px;
  }

  .footer-mov-resultados-covid{
      margin-top: 5vh;
  }

  .opcion_ext_movil {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 40%;
      font-size: 12px;
      color: #194271;
      font-family: m-semibold;
      width: auto;
      text-align: left;
      padding-top: 20px;
  }

  .img_menu_movil{
      width: 50px;
  }

  .no_link {
    font-size: 14px;
  }

  .img_menu {
      width: 30px;
  }
  .texto-light {
      font-size: 14px!important;
  }

  #home_resultado_covid {
      height: auto;
      padding-top: 80px;
  }

  .cont_imagen_fondo_covid {
    height: 50vh;
  }

  .cont-opciones-resultados-covid {
    /* top: 60vh; */
    /* height: 100vh; */
  }

  /*.sl-1{
    background-image: url(img/home_slide/34.jpg);
    background-image: url(img/home_slide/slide1b2.png);
  }*/

  .slider-contender {
    height: 60vh !important;
  }

  .sl-mov {
    height: 55vh !important;
  }

  .anuncio_img {
    top: 0%;
  }

}


@media (max-width: 600px){

  .logo-mov-g{
    display:block;
    position:absolute;
    top:15px;
    left:15px;
    margin:auto;
    width:55%;
    z-index:10000;
    position:fixed;
    transition: 0.5s;
    cursor: pointer;
  }

}



@media (max-width:350px){

  #logo-movil{
    width: 50%;
  }

  .menu-conten{
    margin-top: 70px;
  }

  .menu-el, .menu-gua {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .cont_azul_2 {
      height: auto !important;
  }

  .cont_azul {
    width: 65%;
  }

  .leve {
      font-size: 36px;
  }

  .fuerte {
    font-size: 46px;
  }

  .txt_lab-covid {
    font-size: 14px;
  }

  .parrafo_tipo {
    font-size: 12px;
  }

  .txt_lab-covid{
    width: 90%;
  }

}
