.vc-blue {
    --vc-accent-600: #007af6;
}

.vc-pane {
    min-width: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    padding-top: 0;
}

.vc-header {
    margin-top: 1rem;
    height: 4rem;
}

.vc-header .vc-title {
    color: #003870;
}

.vc-container {
    background-color: transparent;
    border: none;
}
.vc-day-content {
    width: 10vw;
    height: 8vw;
    max-width: 80px;
    max-height: 64px;
    border-radius: 0;
}

.vc-highlight {
    width: 7vw;
    height: 7vw;
    max-width: 60px;
    max-height: 60px;
}

.vc-day-content:focus-within {
    background-color: #fcf9e666;
}

@font-face {
    font-family: "roboto-regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

.vc-weekday,
.vc-day-content,
.vc-popover-content-wrapper button,
.vc-popover-content-wrapper input,
.vc-popover-content-wrapper optgroup,
.vc-popover-content-wrapper select,
.vc-popover-content-wrapper textarea {
    font-family: "roboto-regular";
    color: #003870;
}
.vc-highlight-content-solid {
    color: white;
}

@media (min-width: 1024px) {
    .vc-weekday,
    .vc-day-content,
    .vc-popover-content-wrapper button,
    .vc-popover-content-wrapper input,
    .vc-popover-content-wrapper optgroup,
    .vc-popover-content-wrapper select,
    .vc-popover-content-wrapper textarea {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (min-width: 1280px) {
    .vc-weekday,
    .vc-day-content,
    .vc-popover-content-wrapper button,
    .vc-popover-content-wrapper input,
    .vc-popover-content-wrapper optgroup,
    .vc-popover-content-wrapper select,
    .vc-popover-content-wrapper textarea {
        font-size: 18px;
        line-height: 18px;
    }
}
