<script>
    import CitasJS from "./CitasJS";
    export default CitasJS();
</script>




<template>
    <div class="flex flex-col w-full text-blue-lab-oscuro font-rob-regular">
        <div class="flex flex-wrap items-end justify-between gap-3 px-6 pt-2 pb-4 lg:px-0 lg:pt-0">
            <button v-on:click="backNav()" :class="{ 'opacity-0 pointer-events-none': !(section > 1), 'opacity-100': section > 1 }" class="flex items-center justify-center max-w-full px-3 py-2 transition-all duration-300 ease-in-out border-none rounded-lg select-none bg-blue-lab-oscuro">
                <img src="../img/svg/rigth.svg" class="h-4 rotate-180">
            </button>
            <div class="w-64 h-2 max-w-full overflow-hidden bg-white border rounded-sm shadow shadow-neutral-300 border-neutral-300">
                <div :style="{ width: `${100*section/sections}%` }" class="h-full transition-all duration-300 ease-in-out bg-blue-lab-claro"></div>
            </div>
        </div>
        <div class="relative flex flex-col items-start w-full overflow-hidden">
            <div :class="{ 'w-full relative opacity-100': section == 1, 'absolute opacity-0 select-none pointer-events-none overflow-hidden max-h-screen': section != 1 }" class="top-0 left-0 right-0 transition-all duration-300 ease-linear">
                <div class="max-w-full p-6 lg:p-0">
                    <p><b class="text-2xl lg:text-3xl xl:text-4xl font-rob-bold">TIPO DE PRUEBA</b></p>
                </div>
                <div class="grid w-full grid-cols-1 gap-4 lg:pt-6 lg:grid-cols-2">
                    <div style="background-image: url(/modules/img/banner/analisys_image.png);" class="w-full lg:rounded-3xl bg-center min-h-[25vh] lg:min-h-[45vh] bg-cover"></div>
                    <div class="grid w-full grid-cols-1 gap-4 px-6 lg:grid-rows-2 lg:px-0">
                        <div class="flex items-center w-full p-6 bg-white rounded-3xl md:p-9 lg:p-12 xl:p-16">
                            <div class="w-full">
                                <p class="text-lg lg:text-xl xl:text-2xl">Deberá acudir a su toma de muestra en el laboratorio matriz (Marqués)</p>
                            </div>
                        </div>
                        <div class="flex items-end w-full max-w-full p-4 bg-white rounded-3xl md:p-6 lg:p-8 xl:p-10">
                            <div class="relative flex flex-wrap items-center justify-center w-full max-w-full gap-4">
                                <button v-on:click="select('pcr')" :class="{ 'grayscale opacity-40': (type == 'antigenos'), 'shadow-black border-white': (type == 'pcr'), 'border-transparent shadow-transparent': (type != 'pcr') }" class="border-2 shadow hover:shadow-black hover:border-white flex items-center justify-center max-w-full py-3.5 text-white rounded-lg w-48 bg-blue-lab-claro">
                                    <b class="text-lg font-rob-bold lg:text-xl xl:text-2xl">PCR</b>
                                </button>
                                <button v-on:click="select('antigenos')" :class="{ 'grayscale opacity-40': (type == 'pcr'), 'shadow-black border-white': (type == 'antigenos'), 'border-transparent shadow-transparent': (type != 'antigenos') }" class="border-2 shadow hover:shadow-black hover:border-white flex items-center justify-center max-w-full py-3.5 text-white rounded-lg w-48 bg-blue-lab-claro">
                                    <b class="text-lg font-rob-bold lg:text-xl xl:text-2xl">ANTÍGENOS</b>
                                </button>
                                <div class="flex justify-center w-full lg:pt-2">
                                    <span class="text-sm lg:text-base xl:text-lg">Selecciona el tipo de prueba</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div :class="{ 'w-full opacity-100': section == 2, 'absolute opacity-0 select-none pointer-events-none overflow-hidden max-h-screen': section != 2 }" class="top-0 left-0 right-0 transition-all duration-300 ease-linear">
                <div class="max-w-full p-6 lg:p-0">
                    <p><b class="text-2xl lg:text-3xl xl:text-4xl font-rob-bold">TEST</b></p>
                </div>
                <div class="grid w-full grid-cols-1 gap-4 lg:pt-6 lg:grid-cols-2">
                    <div style="background-image: url(/modules/img/img/test_type.png);" class="w-full lg:rounded-3xl bg-center min-h-[25vh] lg:min-h-[45vh] bg-cover"></div>
                    <div class="grid w-full grid-cols-1 gap-4 px-6 lg:grid-rows-2 lg:px-0">
                        <div class="flex items-center w-full p-6 bg-white rounded-3xl md:p-9 lg:p-12 xl:p-16">
                            <div class="w-full">
                                <p class="text-lg lg:text-xl xl:text-2xl">Deberá acudir a su toma de muestra en el laboratorio matriz (Marqués)</p>
                                <p class="text-lg lg:text-xl xl:text-2xl">Prueba {{ type == 'pcr'? 'PCR' : 'de antígenos' }} para covid-19 (sars-cov-2)</p>
                            </div>
                        </div>
                        <div class="flex items-center w-full max-w-full p-4 bg-white rounded-3xl md:p-6 lg:p-8 xl:p-10">
                            <div class="relative flex flex-wrap items-center justify-center w-full max-w-full gap-4">
                                <button v-on:click="confirmation_patient = true" class="border-2 flex items-center justify-center max-w-full py-3.5 text-white rounded-lg px-6 bg-blue-lab-claro">
                                    <b class="text-lg font-rob-bold lg:text-xl xl:text-2xl">AGREGAR PACIENTE</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="patients.length > 0" class="flex flex-col items-center w-full gap-4 px-5 py-4 text-sm lg:text-base">
                    <div v-for="patient in patients" :key="patient.index" class="px-4 w-full max-w-xl font-rob-regular py-2.5 bg-white gap-2 flex justify-between items-center relative pr-9 rounded-xl">
                        <div class="absolute top-0 bottom-0 left-0 right-0 border-2 opacity-20 hover:opacity-100 border-blue-lab-claro rounded-xl">
                            <div @click="deletePatient(patient.index)" class="absolute w-6 h-6 rotate-45 rounded-full cursor-pointer bg-blue-lab-oscuro top-1.5 right-1.5">
                                <div class="absolute block w-[3px] rounded m-auto bg-white right-1 left-1 bottom-1 top-1"></div>
                                <div class="absolute block h-[3px] rounded m-auto bg-white right-1 left-1 bottom-1 top-1"></div>
                            </div>
                        </div>
                        <span class="overflow-hidden select-none whitespace-nowrap text-ellipsis">
                            <b class="font-rob-bold">{{ `${patient.index} ) ` }}</b>
                            {{ formatedPatientName(patient) }}
                        </span>
                    </div>
                    <div class="flex justify-center w-full pt-8">
                        <button v-on:click="nextNav();" class="px-8 py-4 text-lg text-white transition-all duration-300 ease-in-out border rounded-full lg:text-xl xl:text-2xl hover:bg-white hover:text-blue-lab-claro font-rob-bold bg-blue-lab-claro border-blue-lab-claro">
                            <span>Siguiente</span>
                        </button>
                    </div>
                </div>
            </div>

            <div :class="{ 'w-full relative opacity-100': section == 3, 'absolute opacity-0 select-none pointer-events-none overflow-hidden max-h-screen': section != 3 }" class="top-0 left-0 right-0 flex flex-col items-center px-6 transition-all duration-300 ease-linear lg:px-0">
                <div class="w-full py-6 lg:py-0 lg:pb-6">
                    <p><b class="text-2xl lg:text-3xl xl:text-4xl font-rob-bold">CITA</b></p>
                </div>
                <div class="relative flex flex-col items-center w-full max-w-4xl pb-16 overflow-hidden text-center bg-white rounded-3xl">
                    <div class="flex items-center justify-center w-full overflow-hidden rounded-3xl">
                        <DatePicker
                            :min-date="(new Date())"
                            v-model="selected_date"
                            :locale="{ id:'es', masks: { weekdays: 'WW'} }"
                            color="blue"
                        />
                    </div>
                    <div :class="{ 'opacity-0 w-full absolute top-[calc(100%-4rem)] mx-auto -translate-y-full pointer-events-none': selected_date == null, 'opacity-100 translate-y-0': selected_date != null }" class="bottom-0 flex flex-col flex-wrap items-center max-w-full gap-8 text-base transition-all duration-300 ease-in-out sm:p-4 lg:text-lg xl:text-xl rounded-3xl text-blue-lab-oscuro md:p-6 font-rob-medium lg:p-8 xl:p-10">
                        <div v-if="early_schedules.length > 0 || late_schedules.length > 0" class="flex flex-col items-center gap-y-8 sm:gap-y-12 lg:gap-y-16">
                            <div class="grid grid-cols-1 gap-4 gap-x-8 lg:gap-x-10">
                                <div class="flex flex-wrap gap-x-3 lg:gap-x-8">
                                    <div class="flex items-end justify-center">
                                        <p class="text-xl lg:text-2xl xl:text-3xl">Mañana</p>
                                    </div>
                                    <div class="flex items-end">
                                        <span class="text-base text-blue-lab-claro lg:text-lg xl:text-xl">07:30 am - 03:00 pm</span>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <div class="grid grid-cols-2 gap-x-4 lg:gap-x-10 sm:grid-cols-3">
                                        <button v-on:click="selected_time = schedule" v-for="(schedule, index) in early_schedules" v-bind:key="index" class="p-1 text-sm rounded-md md:text-base lg:text-lg xl:text-xl lg:px-4 lg:py-3" :class="{ 'bg-blue-lab-claro text-white': (selected_time && selected_time.date == schedule.date && selected_time.start_time == schedule.start_time), 'opacity-40 text-blue-lab-claro pointer-events-none': !schedule.is_available }">{{ schedule.start_time }} - {{ schedule.end_time }}</button>
                                    </div>
                                </div>
                            </div>
                            <div v-if="late_schedules.length > 0" class="grid grid-cols-1 gap-4 gap-x-8 lg:gap-x-10">
                                <div class="flex flex-wrap gap-x-3 lg:gap-x-8">
                                    <div class="flex items-end justify-center">
                                        <p class="text-xl lg:text-2xl xl:text-3xl">Tarde</p>
                                    </div>
                                    <div class="flex items-end">
                                        <span class="text-base text-blue-lab-claro lg:text-lg xl:text-xl">04:00 pm - 06:00 pm</span>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <div class="grid grid-cols-2 gap-x-4 lg:gap-x-10 sm:grid-cols-3">
                                        <button v-on:click="selected_time = schedule" v-for="(schedule, index) in late_schedules" v-bind:key="index" class="p-1 text-sm rounded-md md:text-base lg:text-lg xl:text-xl lg:px-4 lg:py-3" :class="{ 'bg-blue-lab-claro text-white': (selected_time && selected_time.date == schedule.date && selected_time.start_time == schedule.start_time), 'opacity-40 text-blue-lab-claro pointer-events-none': !schedule.is_available }">{{ schedule.start_time }} - {{ schedule.end_time }}</button>
                                    </div>
                                </div>
                            </div>
                            <div :class="{ 'opacity-0 absolute -translate-y-full pointer-events-none': !(selected_date != null && selected_time != null && selected_time.date == getFormattedDate(selected_date)), 'opacity-100 translate-y-0': (selected_date != null && selected_time != null && selected_time.date == getFormattedDate(selected_date)) }" class="flex items-center justify-center transition-all duration-300 ease-in-out">
                                <button v-on:click="confirmation = true" class="px-8 py-4 text-lg text-white transition-all duration-300 ease-in-out border rounded-full lg:text-xl xl:text-2xl hover:bg-white hover:text-blue-lab-claro font-rob-bold bg-blue-lab-claro border-blue-lab-claro">
                                    <span>Continuar</span>
                                </button>
                            </div>
                        </div>
                        <div v-else class="flex items-center justify-center w-full p-4">
                            <span class="text-xl font-extrabold lg:text-3xl">{{ msg_schedules }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div :class="{ 'w-full relative opacity-100': section == 4, 'absolute opacity-0 select-none pointer-events-none overflow-hidden max-h-screen': section != 4 }" class="top-0 left-0 right-0 transition-all duration-300 ease-linear">
                <div class="max-w-full p-6 lg:p-0">
                    <p><b class="text-2xl lg:text-3xl xl:text-4xl font-rob-bold">CONFIRMACIÓN</b></p>
                </div>
                <div class="grid w-full grid-cols-1 gap-4 lg:pt-6 lg:grid-cols-2">
                    <div style="background-image: url(/modules/img/img/confirmation_image.png);" class="w-full lg:rounded-3xl bg-center min-h-[25vh] lg:min-h-[45vh] bg-cover overflow-hidden flex items-end">
                        <div class="block w-full px-4 py-2 text-white lg:py-4 xl:py-6 bg-blue-lab-claro md::px-8 lg:px-12 bg-opacity-70">
                            <p class="text-xl font-rob-bold lg:text-2xl xl:text-3xl"><b>Paga tu prueba en línea y obtén un 8% de descuento</b></p>
                            <p class="text-sm lg:text-base xl:text-lg font-rob-regular">*No aceptamos pago con tarjetas American Express.</p>
                        </div>
                    </div>
                    <div class="grid w-full grid-cols-1 gap-4 px-6 lg:grid-rows-2 lg:px-0">
                        <div class="flex items-center w-full p-6 bg-white rounded-3xl md:p-9 lg:p-12 xl:p-16">
                            <div class="w-full">
                                <p class="text-lg lg:text-xl xl:text-2xl">
                                    Recuerda que hasta no realizar el pago y obtener tu número de confirmación tu cita no será agendada
                                </p>
                            </div>
                        </div>
                        <div class="flex items-center w-full max-w-full p-4 bg-white rounded-3xl md:p-6 lg:p-8 xl:p-10">
                            <div class="relative flex flex-wrap items-center justify-center w-full max-w-full gap-y-4 gap-x-8">
                                <div class="flex items-center">
                                    <label for="accepted" class="pr-3 text-lg lg:text-xl xl:text-2xl">Estoy de acuerdo</label>
                                    <input type="checkbox" v-model="accepted" name="accepted" id="accepted" class="rounded w-7 h-7">
                                </div>
                                <button v-on:click="payment_confirmation = true" :class="{ 'grayscale pointer-events-none opacity-50': accepted == false }" class="border-2 flex items-center justify-center max-w-full py-3.5 text-white rounded-lg px-6 bg-blue-lab-claro">
                                    <b class="text-lg font-rob-bold lg:text-xl xl:text-2xl">IR AL PAGO</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div :class="{ 'opacity-100': confirmation, 'opacity-0 pointer-events-none': !confirmation }" class="fixed top-0 bottom-0 left-0 right-0 z-10 flex items-center justify-center p-6 pt-24 transition-all duration-200 ease-in-out select-none lg:pt-28 bg-opacity-70 bg-blue-lab">
            <div :class="{ '-translate-y-0': confirmation, '-translate-y-1/4': !confirmation }" class="relative flex flex-col items-center justify-start max-w-full gap-6 px-8 py-10 text-center transition-all duration-200 ease-in-out bg-white rounded-3xl lg:gap-8 lg:px-10 lg:py-12">
                <div v-on:click="confirmation = false" class="absolute block w-5 h-5 overflow-hidden cursor-pointer right-6 top-6">
                    <div class="absolute top-0 bottom-0 -left-2 -right-2 h-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                    <div class="absolute -top-2 -bottom-2 left-0 right-0 w-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                </div>
                <span class="pt-2 text-blue-lab-oscuro">
                    <p v-if="selected_date != null" class="text-base lg:text-lg xl:text-xl">
                        <b class="font-rob-bold">{{ selected_date.getDate() }} de {{ months[selected_date.getMonth()] }} de {{ selected_date.getFullYear() }}</b>
                        en el
                    </p>
                    <p v-if="selected_time != null" class="text-base lg:text-lg xl:text-xl">
                        horario
                        <b class="font-rob-bold">{{ selected_time.start_time }} - {{ selected_time.end_time }}</b>
                    </p>
                </span>
                <button v-on:click="confirmation = false; nextNav();" class="px-8 py-4 text-lg text-white transition-all duration-300 ease-in-out border rounded-full lg:text-xl xl:text-2xl hover:bg-white hover:text-blue-lab-claro font-rob-bold bg-blue-lab-claro border-blue-lab-claro">
                    <span>Aceptar</span>
                </button>
            </div>
        </div>

        <div :class="{ 'opacity-100': confirmation_patient, 'opacity-0 select-none pointer-events-none': !confirmation_patient }" class="fixed top-0 bottom-0 left-0 right-0 z-10 flex items-start justify-center gap-4 p-4 pt-24 transition-all duration-200 ease-in-out lg:pt-28 bg-opacity-70 bg-blue-lab">
            <div :class="{ '-translate-y-0': confirmation_patient, '-translate-y-1/4': !confirmation_patient }" class="relative w-full max-w-5xl max-h-full overflow-y-auto transition-all duration-200 ease-in-out text-blue-lab-oscuro bg-[#f2f2f2] rounded-3xl">
                <form v-on:submit="savePatient" class="grid items-center justify-start w-full max-w-full grid-cols-1 gap-6 px-2 pt-4 pb-8 text-center lg:gap-8 lg:px-8">
                    <div v-on:click="confirmation_patient = false" class="sticky block w-5 h-5 ml-auto mr-6 overflow-hidden cursor-pointer top-6">
                        <div class="absolute top-0 bottom-0 -left-2 -right-2 h-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                        <div class="absolute -top-2 -bottom-2 left-0 right-0 w-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                    </div>

                    <span class="text-xl text-center font-rob-bold lg:px-8 lg:text-2xl xl:text-3xl">
                        FORMULARIO DEL PACIENTE
                        <span class="inline-flex items-center justify-center w-10 h-10 text-lg text-white rounded-full font-rob-bold lg:text-xl xl:text-2xl bg-blue-lab-claro">
                            <b>{{ (patients.length +1) }}</b>
                        </span>
                    </span>

                    <div class="grid w-full grid-cols-1 gap-8 py-8 text-base font-rob-regular lg:text-lg xl:text-xl">
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="patient_name" class="px-4 text-left">Nombre/s *</label>
                            <input v-model="patient_name" type="text" name="patient_name" id="patient_name" required class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>
                        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="patient_father_last_name" class="px-4 text-left">Apellido paterno *</label>
                                <input v-model="patient_father_last_name" type="text" name="patient_father_last_name" id="patient_father_last_name" required class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="patient_mother_last_name" class="px-4 text-left">Apellido materno</label>
                                <input v-model="patient_mother_last_name" type="text" name="patient_mother_last_name" id="patient_mother_last_name" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                        </div>
                        <div class="flex flex-col flex-wrap items-start justify-between sm:px-5">
                            <span>Género *</span>
                            <div class="flex flex-wrap items-center gap-y-2 gap-x-4 sm:gap-x-8">
                                <div class="flex items-center">
                                    <label for="male" class="p-4 pl-0">Masculino</label>
                                    <input v-model="gender" type="radio" name="gender" id="male" value="male" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                                <div class="flex items-center">
                                    <label for="female" class="p-4 pl-0">Femenino</label>
                                    <input v-model="gender" type="radio" name="gender" id="female" value="female" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="birthdate" class="px-4 text-left">Fecha de nacimiento *</label>
                            <DatePicker
                                :max-date="(new Date())"
                                v-model="birthdate"
                                :locale="{ id:'es', masks: { weekdays: 'WW'} }"
                                color="blue"
                                is-required
                            >
                                <template #default="{ inputEvents }">
                                    <input v-on="inputEvents" type="text" name="birthdate" id="birthdate" required :value="birthdate? textDate(birthdate) : ''" placeholder="Seleccione la fecha" class="w-full h-12 px-4 text-base text-left placeholder-opacity-50 bg-white shadow appearance-none cursor-text font-rob-regular lg:text-lg xl:text-xl rounded-2xl placeholder-blue-lab-oscuro" />
                                </template>
                            </DatePicker>
                        </div>
                        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="street" class="px-4 text-left">Calle *</label>
                                <input v-model="street" type="text" name="street" id="street" required class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="colony" class="px-4 text-left">Colonia *</label>
                                <input v-model="colony" type="text" name="colony" id="colony" required class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="no_ext" class="px-4 text-left">No. Exterior *</label>
                                <input v-model="no_ext" type="text" name="no_ext" id="no_ext" required class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="no_int" class="px-4 text-left">No. Interior</label>
                                <input v-model="no_int" type="text" name="no_int" id="no_int" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-8 sm:grid-cols-3">
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="state" class="px-4 text-left">Estado *</label>
                                <select v-model="state" name="state" id="state" required class="w-full h-12 px-4 text-base bg-white shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                                    <option value="" disabled>Seleccione el estado</option>
                                    <option v-for="state in states" :key="state.id" :value="state.id">{{ state.name }}</option>
                                </select>
                            </div>
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="municipality" class="px-4 text-left">Municipio *</label>
                                <select v-model="municipality" name="municipality" id="municipality" required class="w-full h-12 px-4 text-base bg-white shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                                    <option value="" disabled>Seleccione el municipio</option>
                                    <option v-for="municipality in municipalities" :key="municipality.id" :value="municipality.id">{{ municipality.name }}</option>
                                </select>
                            </div>
                            <div class="flex flex-col items-start col-span-2 sm:col-span-1 gap-y-2">
                                <label for="zip_code" class="px-4 text-left">Código Postal</label>
                                <input v-model="zip_code" type="text" name="zip_code" id="zip_code" minlength="5" maxlength="5" v-on:keypress="onlyNumber" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="passport" class="px-4 text-left">Pasaporte</label>
                            <input v-model="passport" type="text" name="passport" id="passport" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>
                        <div class="grid gap-8 sm:grid-cols-2">
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="cellphone" class="px-4 text-left">Número de Celular *</label>
                                <input v-model="cellphone" minlength="10" maxlength="10" required type="tel" name="cellphone" id="cellphone" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                            <div class="flex flex-col items-start gap-y-2">
                                <label for="phone" class="px-4 text-left">Número Telefónico</label>
                                <input v-model="phone" minlength="10" maxlength="10" type="tel" name="phone" id="phone" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                            </div>
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="email" class="px-4 text-left">E-mail *</label>
                            <input v-model="email" type="email" name="email" id="email" required class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>

                        <span class="pt-8 text-xl text-center font-rob-bold lg:px-8 lg:text-2xl xl:text-3xl">
                            INFORMACIÓN DEL MÉDICO
                        </span>

                        <div class="flex flex-col items-start gap-y-2">
                            <label for="med_name" class="px-4 text-left">Nombre</label>
                            <input v-model="med_name" type="text" name="med_name" id="med_name" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="med_email" class="px-4 text-left">E-mail</label>
                            <input v-model="med_email" type="email" name="med_email" id="med_email" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>

                        <span class="pt-8 text-xl text-center font-rob-bold lg:px-8 lg:text-2xl xl:text-3xl">
                            DATOS DE FACTURACIÓN
                        </span>

                        <div class="flex flex-col items-start gap-y-2">
                            <label for="business_name" class="px-4 text-left">Razón Social</label>
                            <input v-model="business_name" type="text" name="business_name" id="business_name" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="rfc" class="px-4 text-left">RFC</label>
                            <input v-model="rfc" type="text" name="rfc" id="rfc" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="tax_residence" class="px-4 text-left">Domicilio Fiscal, incluyendo código postal</label>
                            <input v-model="tax_residence" type="text" name="tax_residence" id="tax_residence" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="tax_regime" class="px-4 text-left">Régimen fiscal</label>
                            <select v-model="tax_regime" name="tax_regime" id="tax_regime" class="w-full h-12 px-4 text-base bg-white shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                                <option value="" disabled>Régimen fiscal</option>
                                <option v-for="tax in taxes" :key="tax.id" :value="tax.id">{{ tax.code }} - {{ tax.name }}</option>
                            </select>
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="cfdi" class="px-4 text-left">Uso del CFDI</label>
                            <select v-model="cfdi" name="cfdi" id="cfdi" class="w-full h-12 px-4 text-base bg-white shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                                <option value="" disabled>CFDI</option>
                                <option v-for="cfdi in cfdi_uses" :key="cfdi.id" :value="cfdi.id">{{ cfdi.code }} - {{ cfdi.name }}</option>
                            </select>
                        </div>

                        <span class="pt-8 text-xl text-center font-rob-bold lg:px-8 lg:text-2xl xl:text-3xl">
                            ¿Qué síntomas has tenido?
                        </span>
                        <div class="grid grid-cols-2 text-sm lg:grid-cols-3 gap-x-4 lg:text-base">
                            <div v-for="({ id, name }) in symptoms_list" v-bind:key="id" class="flex items-start justify-start text-left">
                                <input v-model="symptoms" type="checkbox" name="symptoms" :id="`symptom-${id}`" :value="id" class="lg:w-6 w-4 min-w-[16px] h-4 lg:min-w-[24px] lg:h-6">
                                <label :for="`symptom-${id}`" class="min-h-[3rem] lg:pb-2.5 inline-flex items-start justify-start leading-4 lg:leading-5 pt-0.5 pb-2 pl-2 lg:pl-3">
                                    <span>{{ name }}</span>
                                </label>
                            </div>
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="other_symptoms" class="px-4 text-left">Otro</label>
                            <input v-model="other_symptoms" type="text" name="other_symptoms" id="other_symptoms" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>

                        <span class="pt-8 text-xl text-center font-rob-bold lg:px-8 lg:text-2xl xl:text-3xl">
                            ¿Padece usted de alguna enfermedad crónica?
                        </span>
                        <div class="grid grid-cols-2 text-sm lg:grid-cols-3 gap-x-4 lg:text-base">
                            <div v-for="({ id, name }) in diseases_list" v-bind:key="id" class="flex items-start justify-start text-left">
                                <input v-model="chronic_disease" type="checkbox" name="chronic_disease" :id="`disease-${id}`" :value="id" class="lg:w-6 w-4 min-w-[16px] h-4 lg:min-w-[24px] lg:h-6">
                                <label :for="`disease-${id}`" class="min-h-[3rem] lg:pb-2.5 inline-flex items-start justify-start leading-4 lg:leading-5 pt-0.5 pb-2 pl-2 lg:pl-3">
                                    <span>{{ name }}</span>
                                </label>
                            </div>
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="other_disease" class="px-4 text-left">Otra</label>
                            <input v-model="other_disease" type="text" name="other_disease" id="other_disease" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>

                        <div class="flex flex-col flex-wrap items-start justify-between pt-8 text-left sm:px-5 gap-y-2">
                            <span>¿Tuvo usted contacto directo con una persona con COVID-19 positivo las últimas 2 semanas?</span>
                            <div class="flex flex-wrap items-center px-4 gap-y-2 gap-x-4 sm:gap-x-8">
                                <div class="flex items-center">
                                    <label for="yes_a" class="p-4 pl-0">Sí</label>
                                    <input v-model="question_a" type="radio" name="question_a" id="yes_a" :value="true" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                                <div class="flex items-center">
                                    <label for="no_a" class="p-4 pl-0">No</label>
                                    <input v-model="question_a" type="radio" name="question_a" id="no_a" :value="false" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-wrap items-start justify-between text-left sm:px-5 gap-y-2">
                            <span>¿Está tomando algún antiviral?</span>
                            <div class="flex flex-wrap items-center px-4 gap-y-2 gap-x-4 sm:gap-x-8">
                                <div class="flex items-center">
                                    <label for="yes_b" class="p-4 pl-0">Sí</label>
                                    <input v-model="question_b" type="radio" name="question_b" id="yes_b" :value="true" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                                <div class="flex items-center">
                                    <label for="no_b" class="p-4 pl-0">No</label>
                                    <input v-model="question_b" type="radio" name="question_b" id="no_b" :value="false" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-wrap items-start justify-between text-left sm:px-5 gap-y-2">
                            <span>¿Se vacunó contra la Influenza el último año? *</span>
                            <div class="flex flex-wrap items-center px-4 gap-y-2 gap-x-4 sm:gap-x-8">
                                <div class="flex items-center">
                                    <label for="yes_c" class="p-4 pl-0">Sí</label>
                                    <input v-model="question_c" type="radio" name="question_c" id="yes_c" :value="true" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                                <div class="flex items-center">
                                    <label for="no_c" class="p-4 pl-0">No</label>
                                    <input v-model="question_c" type="radio" name="question_c" id="no_c" :value="false" class="w-8 h-8 lg:w-10 lg:h-10">
                                </div>
                            </div>
                        </div>

                        <span class="pt-8 text-xl text-center font-rob-bold lg:px-8 lg:text-2xl xl:text-3xl">
                            ¿Porque se realiza esta prueba?
                        </span>
                        <div class="grid grid-cols-2 text-sm lg:grid-cols-3 gap-x-4 lg:text-base">
                            <div v-for="({ id, name }) in reasons_list" v-bind:key="id" class="flex items-start justify-start text-left">
                                <input v-model="test_reasons" type="checkbox" name="test_reasons" :id="`reasons-${id}`" :value="id" class="lg:w-6 w-4 min-w-[16px] h-4 lg:min-w-[24px] lg:h-6">
                                <label :for="`reasons-${id}`" class="min-h-[3rem] lg:pb-2.5 inline-flex items-start justify-start leading-4 lg:leading-5 pt-0.5 pb-2 pl-2 lg:pl-3">
                                    <span>{{ name }}</span>
                                </label>
                            </div>
                        </div>
                        <div class="flex flex-col items-start gap-y-2">
                            <label for="other_reasons" class="px-4 text-left">Otro</label>
                            <input v-model="other_reasons" type="text" name="other_reasons" id="other_reasons" class="w-full h-12 px-4 text-base shadow font-rob-regular lg:text-lg xl:text-xl rounded-2xl">
                        </div>

                        <span class="pt-8 text-xl text-center font-rob-bold lg:px-8 lg:text-2xl xl:text-3xl">
                            ¿En que idioma desea recibir sus estudios? * puede marcar ambas casillas
                        </span>
                        <div class="grid grid-cols-2 text-sm lg:grid-cols-3 gap-x-4 lg:text-base">
                            <div v-for="lang in languages_list" :key="lang.id" class="flex items-start justify-start text-left">
                                <input v-model="languages" type="checkbox" name="languages[]" :id="`lang-${lang.code}`" :value="lang.id" :required="languages.length == 0" class="lg:w-6 w-4 min-w-[16px] h-4 lg:min-w-[24px] lg:h-6">
                                <label :for="`lang-${lang.code}`" class="min-h-[3rem] lg:pb-2.5 inline-flex items-start justify-start leading-4 lg:leading-5 pt-0.5 pb-2 pl-2 lg:pl-3">
                                    <span>{{ lang.name }}</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-center">
                        <button type="submit" class="px-8 py-4 text-lg text-white transition-all duration-300 ease-in-out border rounded-full lg:text-xl xl:text-2xl hover:bg-white hover:text-blue-lab-claro font-rob-bold bg-blue-lab-claro border-blue-lab-claro">
                            <span>Aceptar</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div :class="{ 'opacity-100': payment_confirmation, 'opacity-0 pointer-events-none': !payment_confirmation }" class="fixed top-0 bottom-0 left-0 right-0 z-10 flex items-center justify-center p-4 pt-24 transition-all duration-200 ease-in-out select-none lg:pt-28 bg-opacity-70 bg-blue-lab">
            <div :class="{ '-translate-y-0': payment_confirmation, '-translate-y-1/4': !payment_confirmation }" class="relative flex flex-col items-center justify-start max-w-full gap-6 px-4 py-10 text-center transition-all duration-200 ease-in-out bg-white rounded-3xl lg:gap-8 lg:px-10 lg:py-12">
                <div v-on:click="payment_confirmation = false" class="absolute block w-5 h-5 overflow-hidden cursor-pointer right-6 top-6">
                    <div class="absolute top-0 bottom-0 -left-2 -right-2 h-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                    <div class="absolute -top-2 -bottom-2 left-0 right-0 w-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                </div>

                <span class="px-2 text-base text-center font-rob-bold lg:px-8 lg:text-lg xl:text-xl">
                    Captura tus datos de pago y haz clic en el botón PAGAR.
                    <br />
                    NO salgas de esta página hasta no ver la confirmación de pago, puede tardar algunos segundos.
                </span>

                <button v-on:click="payment_confirmation = false; payment_confirmation_modal = true;" class="px-8 py-4 text-lg text-white transition-all duration-300 ease-in-out border rounded-full lg:text-xl xl:text-2xl hover:bg-white hover:text-blue-lab-claro font-rob-bold bg-blue-lab-claro border-blue-lab-claro">
                    <span>Aceptar</span>
                </button>
            </div>
        </div>

        <div :class="{ 'opacity-100': payment_confirmation_modal, 'opacity-0 select-none pointer-events-none': !payment_confirmation_modal }" class="fixed top-0 bottom-0 left-0 right-0 z-10 flex items-start justify-center gap-4 p-0 pt-16 transition-all duration-200 ease-in-out lg:pt-28 sm:pt-20 sm:p-4 bg-opacity-70 bg-blue-lab">
            <div :class="{ '-translate-y-0': payment_confirmation_modal, '-translate-y-1/4': !payment_confirmation_modal }" class="relative w-full h-full max-w-5xl max-h-full overflow-y-auto transition-all duration-200 ease-in-out bg-white lg:p-8 sm:p-4 text-blue-lab-oscuro sm:rounded-3xl">
                <div v-on:click="payment_confirmation_modal = false" class="fixed block w-5 h-5 overflow-hidden cursor-pointer right-6 top-6">
                    <div class="absolute top-0 bottom-0 -left-2 -right-2 h-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                    <div class="absolute -top-2 -bottom-2 left-0 right-0 w-[2px] m-auto rotate-45 bg-blue-lab-claro"></div>
                </div>
                <div class="flex flex-col items-center justify-center w-full max-w-full min-h-full gap-4">
                    <iframe v-if="payment_url.length > 0" :src="payment_url" @load="iframeLoad" frameborder="0" class="w-full max-w-[640px] sm:h-[calc(100vh-14rem)] lg:h-[calc(100vh-17.5rem)] h-[calc(100vh-10rem)]"></iframe>
                    <div v-else id="loading-space" class="flex flex-wrap items-center justify-center w-full gap-4 text-base font-rob-bold lg:text-lg xl:text-xl">
                        <svg class="w-8 h-8 text-blue-lab-claro animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <span>Cargando...</span>
                    </div>

                    <div v-if="payment_url.length > 0" class="grid max-w-full grid-cols-2 gap-4 p-3 py-2 lg:p-0 lg:py-0">
                        <button v-on:click="payment_confirmation_modal = false" type="button" class="px-8 py-4 text-lg text-white transition-all duration-300 ease-in-out border rounded-full lg:text-xl xl:text-2xl hover:bg-white hover:text-blue-lab-claro font-rob-bold bg-blue-lab-claro grayscale border-blue-lab-claro">
                            <span>Cancelar</span>
                        </button>
                        <button v-on:click="checkPayment" type="submit" class="px-8 py-4 text-lg text-white transition-all duration-300 ease-in-out border rounded-full lg:text-xl xl:text-2xl hover:bg-white hover:text-blue-lab-claro font-rob-bold bg-blue-lab-claro border-blue-lab-claro">
                            <span>Continuar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
