html, body {
    width: 100%;
    height: 100%;
}
.login-logo {
    padding: 10px 50px;
}
.btn_aceptar {
    justify-content: center;
}
.cont_ver_clave {
    margin: 0 14px;
    /* cursor: pointer; */
    user-select: none;
}
.label_clave {
    padding-left: 7px;
}
.ver_clave {
    cursor: pointer;
}
.imagen_logo {
    background-color: #fff;
}
.link_cerrar {
    cursor: pointer;
    user-select: none;
}
.btn_ver_cita{
  cursor: pointer;
}
.dataTables_wrapper{
  width: 100%!important;
}
.nav-item{
  cursor:pointer;
}
.spinner{
  position: relative;
  left:50%;
  top:50%;
   transform-origin: 50% 50%;
  transform: translate(-50%,-50%);
  animation: giro 2s infinite;
}
@keyframes giro {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }

}
.contenido_principal{
  
  height: 100vh;
  position: relative;
}

.sorting_1{
	color: black!important;
}
