.cont_testcovid {
    /* position: relative; */
    width: 100%;
    /* height: 100%; */
    /* background-color: #194271; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 80px; */
}

.pregunta {
    color: #194271;
    font-family: m-semibold;
    font-size: 26px;
    text-align: center;
    padding-bottom: 40px;
}

.cont_interno_testcovid {
    background-color: #F2F2F2;
    width: 100%;
    /* height: 100%; */
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont_pasos2 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont_pasos {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paso {
    position: relative;
    /* width: 18vw;
    height: 18vw; */
    width: 12vw;
    height: 12vw;
    border-radius: 180%;
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.paso_activo {
    background-color: #1686FA;
}

.txt_paso {
    color: white;
    font-family: m-semibold;
    font-size: 90%;
}

.cont_titulo_testcovid {
    position: relative;
    width: 90%;
    height: auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_testcovid {
    color: #194271;
    font-family: m-semibold;
    font-size: 30px;
    text-align: center;
    padding-bottom: 40px;
}

.subtitulo_testcovid {
    color: #194271;
    font-family: m-semibold;
    font-size: 16px;
    text-align: left;
    padding-bottom: 20px;
    display: block;
    width: 57%;
    text-align: center;
}

.formulario_titulo {
    color: #194271;
    font-family: m-extrabold;
    font-size: 30px;
    text-align: center;
}

.cont_datosgenerales_paciente,
.info_medico,
.info_sintomas,
.info_enfermedad {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info_medico,
.info_sintomas,
.info_enfermedad {
    padding-top: 50px;
}

.cont_interno_form_datosgenerales_paciente {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fila_input {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 90%;

}

.cont_input_testcovid {
    position: relative;
    width: 100%;
}

.label_input {
    font-family: m-medium;
    font-size: 14px;
    color: #194271;
    padding-left: 10px;
    padding-bottom: 10px;
}

.input_style {
    position: relative;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    border: none;
    width: calc(100% - 55px);
    padding: 0 20px;
}

.tam_100 {
    width: 100%;
}

.tam_95 {
    width: calc(100% - 55px);
}

.tam_50 {
    width: 50%;
}

.tam_30 {
    width: 30%;
}

.sintomas_itm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}

.cont_selectbox {
    display: flex;
    align-items: center;
    flex-direction: row;
}

span[selectbox] {
    background-color: #fff;
    height: 50px;
    width: 50px;
    display: block;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 15px;
}

span[selectbox]::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    width: 0px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 300ms ease;
}

span[selectbox="true"]::after {
    height: 12px;
    width: 12px;
    background-color: #007af6;
}

span[checkbox] {
    background-color: #fff;
    height: 25px;
    width: 25px;
    display: block;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    /* margin: 0 15px; */
    border: 1px solid #194271;
}

span[checkbox]::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    width: 0px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: all 200ms ease;
    /* transform: translateY(-50%); */
    margin-bottom: 25%;
}

span[checkbox="true"]::after {
    height: 15px;
    width: 7px;
    border-bottom: 3px solid #007af6;
    border-right: 3px solid #007af6;
    transform: rotate(45deg);
}

.sintomas_title {
    font-family: m-medium;
    font-size: 20px;
    padding-left: 25px;
}

.txt_sintoma {
    padding-left: inherit;
    padding-bottom: inherit;
    width: calc(100% - 50px);
}

.opciones {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.red {
    color: red;
}

.opciones_genero {
    display: flex;
    flex-direction: row;
}

.div-footer {
    position: relative;
    top: 80px;
}

.calendario_cont {
    background-color: #fff;
    width: 600px;
    max-width: calc(92% - 40px);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 40px;
    border-radius: 30px;
}

.calendario_secc {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.horarios_calendario {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.parte_reservacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.cont_head {
    width: 100%;
    /* display: flex; */
    /* align-items: flex-end; */
}

.fc-dayGrid-view .fc-body .fc-row {
    max-height: 4em;
}

.fc-time-grid-container {
    max-height: 418.9px;
}

.fc-day-grid-container {
    height: auto !important;
}

.t_horario,
.margen_tiempo {
    padding-bottom: 0;
    width: auto !important;
    display: inline-block;
}

.t_horario {
    margin-right: 15px;
}

.margen_tiempo {
    color: #1686fa;
    line-height: 30px;
}

.seleccion_horas {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.seleccion_horas span {
    display: inline-flex;
    width: 30%;
    height: 40px;
    color: #194271;
    font-family: m-medium;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 0;
    min-width: 90px;
    transition: all 200ms ease;
    user-select: none;
}

.seleccion_horas span[select] {
    color: #fff;
    background-color: #1686fa;
}

.seleccion_horas span[disabled] {
    color: #e6e6e6;
    background-color: transparent;
    cursor: default;
}

.cont_centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

button[name="continuar"] {
    width: 160px;
    height: 60px;
    font-family: m-semibold;
    font-size: 22px;
    color: #fff;
    background-color: #007af6;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.calendario_secc button {
    font-family: m-regular;
    color: #fff;
}

.calendario_secc h2 {
    color: #194271;
    font-family: m-medium;
    font-size: 24px;
}

.calendario_secc thead span {
    font-family: m-regular;
    color: #194271;
}

.calendario_secc span {
    font-family: m-regular;
    color: #194271;
}

.fc-button-primary,
.fc-icon-chevron-right::before,
.fc-icon-chevron-left::before {
    color: #fff;
}

#form_registro_cita {
    position: relative;
    width: 100%;
}

#form_cita {
    position: relative;
    width: 100%;
}

.fc .fc-row .fc-content-skeleton table,
.fc .fc-row .fc-content-skeleton td,
.fc .fc-row .fc-mirror-skeleton td {
    position: relative;
}

.fc-dayGrid-view .fc-week-number,
.fc-dayGrid-view .fc-day-number {
    padding: 2px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 6px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: #194271;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: transparent;
}

.seleccionado {
    background-color: #007af6 !important;
    color: #fff !important;
}

.fc-highlight {
    /* background: transparent; */
}

.modal_1,
.modal_2,
.modal_3,
.modal_4 {
    position: fixed;
    z-index: 999999;
    background-color: #194271b0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal_1 *,
.modal_2 *,
.modal_3 *,
.modal_4 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cont_modal {
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
}

.cerrar_modal {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cruz_cerrar {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.cruz_cerrar::before,
.cruz_cerrar::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #007af6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cruz_cerrar::before {
    transform: rotate(45deg);
}

.cruz_cerrar::after {
    transform: rotate(-45deg);
}

.txt_modal {
    font-size: 20px;
    font-family: m-medium;
    color: #194271;
    text-align: center;
}

.fc-other-month span {
    background-color: transparent !important;
    color: #194271 !important;
}

#boton_cancelar {
    width: 160px;
    height: 60px;
    font-family: m-semibold;
    font-size: 22px;
    color: #fff;
    background-color: #e2e2e2;
    border: 0;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

#boton_cancelar:hover {
    background-color: #999;
}

#boton_siguiente_test {
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid;
}

#boton_siguiente_test:hover {
    background-color: white;
    color: #007af6;
}

#continuar,
#boton_siguiente_pago,
#boton_agregar_paciente,
#boton_enviar_correo {
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid;
}

#continuar:hover {
    background-color: white;
    color: #007af6;
}

#boton_siguiente_pago:hover {
    background-color: white;
    color: #007af6;
}

#boton_agregar_paciente:hover {
    background-color: white;
    color: #007af6;
}

#boton_enviar_correo:hover {
    background-color: white;
    color: #007af6;
}

.boton_modal {
    cursor: pointer;
    transition: 0.3s;
    border: solid 1px #007af6;
}

.boton_modal:hover {
    background-color: white;
    color: #007af6;
    border: solid 1px #007af6;
}

.circulo {
    position: absolute;
    background-color: #1686FB;
    width: 100%;
    height: 100%;
    border-radius: 180%;
    z-index: 0;
}

.sp {
    /*border-radius: 50%;
    display: inline-block;*/
    animation: pulso 1.2s linear infinite;
    animation-delay: calc(-0.2s * var(--i));
    z-index: 1;
}

.paso_click {
    cursor: pointer;
}

.sel_inpt {
    border-radius: 2px;
}

.mensaje_contenido {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.cont_interno_msg {
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    padding: 20px;
    display: flex;
}

.mensaje_estr {
    min-height: 100%;
    min-width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conten_image {
    display: flex;
    width: 100%;
    max-width: 100%;
    /* padding-top: 60px; */
    padding: 60px 40px;
}

.conten_texto {
    display: flex;
    max-width: 100%;
    width: 1000px;
    padding: 60px 40px;
    padding-top: 0;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    color: #194271;
    font-family: m-medium;
    font-size: 27px;
    text-align: left;
}

.logo-image {
    width: 350px;
    max-width: 100%;
}

.pad_top {
    padding-top: 40px;
}

.azul_sel {
    color: #007af6;
}

.bold_c {
    font-family: m-semibold;
}

@keyframes pulso {
    0% {
        transform: scale(.9);
        opacity: 0.5;
        z-index: -1;
    }

    90% {
        transform: scale(1.2);
        opacity: 0.5;
        z-index: -1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
        z-index: -1;
    }
}

@media (max-width:980px) {
    .conten_image {
        width: auto;
        padding: 30px;
    }

    .conten_texto {
        font-size: 18px;
        overflow-wrap: break-word;
    }

    .padding_top_20_movil {
        padding-top: 20px;
    }

    .cont_interno_testcovid {
        width: 100%;
        padding: 80px 10px;
    }

    .cont_pasos {
        width: 450px;
        max-width: 100%;
    }

    .paso {
        width: 100px;
        height: 100px;
    }

    .tam_100 {
        width: calc(100% - 40px);
    }

    .fila_input {
        width: 90%;
    }

    .subtitulo_testcovid {
        width: 80%;
    }

    .fila_input {
        flex-direction: column;
    }

    .opciones_genero {
        width: 100%;
        flex-direction: column;
    }

    .input_genero {
        align-items: flex-start;
    }

    .logo-mov-g {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 60%;
        max-height: inherit;
        width: auto !important;
        max-width: calc(100% - 120px);
    }

    .container {
        position: absolute;
        height: 30px;
        width: 30px;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .footer-mov {
        margin-top: 80px;
    }

    .paso {
        width: 110px;
        height: 110px;
    }

    .txt_paso {
        font-size: 10px;
    }

    .cont_pasos {
        flex-direction: column;
    }

    .boton_opcion_prueba {
        margin-bottom: 15px;
    }
}